[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
psycopg2 = "*"
gunicorn = "*"
django-cors-headers = "*"
djangorestframework = "*"
envparse = "*"
dj-database-url = "*"
jedi = "==0.17.2"
django-heroku = "*"

[dev-packages]
flake8 = "*"
ipython = "==7.19.0"

[requires]
python_version = "3.8"
